page-referral {
    .logo {
        width: 50%;
        margin: 0 auto;
    }
    h1 {
        font-size: 500%;
        color: #4C609C;
        text-align: center;
    }
    h2 {
        font-size: 150%;
        color: #4C609C;
        text-align: center;
    }
    .question {
        text-align: center;
        font-weight: 500;
    }
}
