<ion-header class="nav-header" no-border>
    <ion-navbar transparent>
      <ion-title color="light">
        {{ "WELCOME_INTRO" | translate }}
        <div class="language-bar">
          <button class="language"  item-end color="dark" (click)="langChange('en')">
            <ion-icon *ngIf="checkLangEN" name="checkmark">&nbsp;&nbsp; </ion-icon> English
          </button>
          <button class="language"  item-end color="dark" (click)="langChange('yb')">
            <ion-icon *ngIf="checkLangYB" name="checkmark">&nbsp;&nbsp; </ion-icon> Yoruba
          </button>

        </div>
      </ion-title>
    </ion-navbar>
  </ion-header>

<ion-content padding>

    <button ion-button block (click)="signup()">{{ 'SIGNUP' | translate }}</button>
    <button ion-button block (click)="login()" class="login">{{ 'LOGIN' | translate }}</button>

</ion-content>
